.page-title {
  padding: 2% 0; }

.title {
  margin-left: 2%; }

.title {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px; }

.main-doc {
  padding: 1%;
  margin: 0px;
  min-width: 100px;
  height: 60vh;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; }

.btns {
  margin: 0 auto; }
  .btns button {
    width: 80px;
    margin: 2px; }

.save-panel {
  list-style-type: none; }

.command-list {
  list-style-type: none; }
