.page-title {
  padding: 2% 0;
}

.title {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}

.main-doc {
    padding: 1%;
    margin: 0px;
    min-width: 100px;
    height: 50vh;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.file-btns {
  button {
    width: 40px;
    padding: 5px;
    margin: 2px;
  }
}

.speech-btns {
  margin: 0 auto;
  button {
    width: 80px;
    margin: 2px;
  }
}

.save-panel {

}
