.buttonContainer {
    padding: 12px;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background 0.2s ease-in-out;
    color: white;
}

.primary {
    background: #258efe;

    
    &:hover {
        background: lighten(#258efe, 10%);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

.secondary {
    background: #176e0f;

    &:hover {
        background: darken(#176e0f, 10%);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

.danger {
    background: #c21532;

    &:hover {
        background: darken(#c21532, 10%);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}

.circle {
    border-radius: 50%;
}