.buttonContainer {
    padding: 12px;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background 0.2s ease-in-out;
    color: white;
}

.primary {
    background: #258efe;
    
    &:hover {
        background: darken(#258efe, 10%);
    }
}

.secondary {
    background: #176e0f;

    &:hover {
        background: darken(#176e0f, 10%);
    }
}

.danger {
    background: #c21532;
    
    &:hover {
        background: darken(#c21532, 10%);
    }
}

.circle {
    border-radius: 50%;
}